.topSectionOutterBody {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  .topSectionInnerBody {
    width: 100%;
    height: min-content;
    margin-top: 2%;

    .text {
      text-align: center;
      color: aliceblue;
      height: min-content;
      .textItem {
        text-align: center;
        justify-content: center;
        padding: 20%;
        height: min-content;
        p {
          font-family: "Noto Sans", sans-serif;
          font-size: larger;
        }
        h1 {
          font-family: "Signika Negative", sans-serif;
        }
        h1 select {
          width: 10%;
          height: 22px;
        }
        button {
          width: 30%;
          height: 40px;
          color: white;
          background-color: rgb(198, 49, 49);
          margin-top: 1%;
        }

        @media (max-width: 520px) {
          button {
            width: 50%;
            margin-top: 5%;
          }
          h1{
            margin-top: 3%;
            font-size: 25px;
          }
        }

        button:hover {
          background-color: white;
          color: rgb(198, 49, 49);
          border-radius: 20px;
          transition: 1s;
        }
      }
    }
  }
}
